/*
font-family: 'Anton', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Antonio', sans-serif;
*/

@media screen and (max-width: 2560px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    iframe {
        border-radius: 5px;
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
    }

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48;
        font-size: 2.1rem;
        padding: -10px;
        /* padding: 0; */
    }

    .section {
        width: 70%;
        margin: 3rem 0;
    }

    .rating {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    .rating p {
        text-align: center;
        width: 2.5rem;
        background-color: #e5be1a;
        color: #282726;
        font-weight: 600;
        font-size: 1.3rem;
    }

    .bg-dark {
        background-color: #282726;
        color: white;
    }

    .bg-dark p {
        color: white;
    }

    /* Heading Start */
    .heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'Work Sans', sans-serif;
        padding: 0;
        margin: 0;
    }

    .heading p {
        padding: 0.5rem;
    }

    .heading p:hover {
        background-color: #282726;
        color: white;
        border-radius: 5px 5px 5px 5px;
    }

    .heading-left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-shadow {
        text-shadow: 2px 2px 10px #282726;
    }

    .heading-left-button-active {
        margin-left: 1rem;
        border: none;
        outline: none;
        background-color: #282726;
        height: 1.5rem;
        padding: 0 1rem;
        border-radius: 25px;
        font-family: 'Work Sans', sans-serif;
        color: #e5be1a;
    }

    .heading-left-button {
        margin-left: 1rem;
        border: none;
        outline: none;
        background-color: #e5be1a;
        height: 1.5rem;
        padding: 0 1rem;
        border-radius: 25px;
        font-family: 'Work Sans', sans-serif;
    }

    .heading-left-button:hover {
        background-color: #282726;
        color: #e5be1a;
        transition: 200ms;
    }

    /* Heading End */
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .navbar,
    .main,
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 100%;
    }

    .navbar {
        justify-content: space-between;
    }

    .navbar-links,
    .navbar-logo {
        display: flex;
        flex-direction: row;
    }

    .navbar-logo {
        display: flex;
        align-items: center;
        height: 2rem;
    }

    .navbar-logo a {
        margin-right: 0.5rem;
        font-family: 'Anton', sans-serif;
        color: white;
        text-decoration: none;
        font-size: 2rem;
        padding: 0;
    }

    .navbar-logo i {
        color: white;
        font-size: 2rem;
    }

    .navbar-search-container {
        width: 50%;
    }

    .navbar-search {
        display: flex;
        width: 100%;
    }

    .navbar-search input {
        border-radius: 5px 0 0 5px;
        height: 2.5rem;
        width: 100%;
        background-color: white;
        border: none;
        outline: none;
        padding: 0 1rem;
        color: #282726;
        font-family: 'Anton', sans-serif;
        text-align: center;
        cursor: pointer;
    }

    .navbar-search button {
        border-radius: 0 5px 5px 0;
        height: 2.5rem;
        width: 3rem;
        background-color: white;
        color: #282726;
        border: none;
        outline: none;
    }

    .navbar-search button:hover {
        cursor: pointer;
        background-color: #282726;
        color: white;
        transition: 200ms;
    }

    .navbar-links a {
        margin-left: 1rem;
        text-decoration: none;
        color: white;
        font-family: 'Raleway', sans-serif;
    }

    .banner-container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 95vh;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .banner {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        /* background-color: rgb(0, 0, 0, 0.5); */
    }

    .banner-div {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        text-align: right;
        width: 70%;
        height: 60%;
    }

    .banner-details {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        font-family: 'Anton', sans-serif;
        width: 100%;
        color: white;
    }

    .banner-details h2 {
        font-size: 2.5rem;
        margin-bottom: 0;
        font-family: 'Work', sans-serif;

    }

    .banner-details p {
        font-size: 1.7rem;
        font-family: 'Work', sans-serif;
    }

    .banner-button button {
        height: 2.5rem;
        width: 10rem;
        margin: 1rem 0;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: #282726;
        color: #e5be1a;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        cursor: pointer;
    }

    .banner-carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        font-family: 'Work', sans-serif;
    }

    .carousel-section {
        border-top: 1px solid lightgrey;
        width: 100%;
    }

    /* .carousel-card-container {
        border-bottom: 1px solid white;
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: end;
        justify-content: space-evenly;
        background-color: white;
    } */

    .carousel-card {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 95%;
        height: 15rem;
        border-radius: 5px;
        color: white;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
    }

    .carousel-card h3 {
        margin-left: 1rem;
        text-shadow: 10px 2px 10px #282726;
        height: 2.5rem;
        margin-top: 0.5rem;
    }

    .carousel-card p {
        margin-left: 1rem;
        margin-bottom: 0;
        text-shadow: 10px 2px 10px #282726;
    }

    .text-white {
        color: white;
    }

    .trending,
    .recent-trailer-div,
    .popular,
    .coming-soon {
        display: flex;
        flex-flow: row;
        border-radius: 5px;
        overflow-x: scroll;
        margin: 0;
        padding: 2rem 0;
        scrollbar-width: thin;
    }

    /* Chrome, Edge and Safari Start */
    /* Firefox */
    .trending,
    .recent-trailer-div,
    .popular,
    .coming-soon {
        scrollbar-width: thin;
        scrollbar-color: #282726 #ffffff;
    }

    /* Chrome, Edge, and Safari */
    .trending::-webkit-scrollbar,
    .recent-trailer-div::-webkit-scrollbar,
    .popular::-webkit-scrollbar,
    .coming-soon::-webkit-scrollbar {
        width: 13px;
    }

    .trending::-webkit-scrollbar-track,
    .recent-trailer-div::-webkit-scrollbar-track,
    .popular::-webkit-scrollbar-track,
    .coming-soon::-webkit-scrollbar-track {
        background: #ffffff;
    }

    .trending::-webkit-scrollbar-thumb,
    .recent-trailer-div::-webkit-scrollbar-thumb,
    .popular::-webkit-scrollbar-thumb,
    .coming-soon::-webkit-scrollbar-thumb {
        background-color: #282726;
        border-radius: 10px;
        border: 3px solid #ffffff;
    }

    /* Card Container Start  */
    .card-container {
        height: auto;
        min-width: 12rem;
        margin-right: 1rem;
    }

    .card-container-img {
        position: relative;
        width: 100%;
        height: 17rem;
    }

    .card-container-img img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        cursor: pointer;
    }

    .card-container-img img:hover {
        transform: scale(1.03);
        transition: 500ms;
        box-shadow: 1px 10px 5px 1px rgba(0, 0, 0, 0.74);
        -webkit-box-shadow: 1px 10px 5px 1px rgba(0, 0, 0, 0.74);
        -moz-box-shadow: 1px 10px 5px 1px rgba(0, 0, 0, 0.74);
    }

    /* .card-container-title {} */

    .card-container-year {
        height: 1.5rem;
        font-family: 'Work', sans-serif;
        font-weight: 600;
    }

    .card-container-title p {
        margin-top: 1rem;
        padding-top: 0;
        font-family: 'Raleway', sans-serif;
        height: 2.5rem;
        font-weight: 700;
    }

    /* Card Container End  */

    /* Pop out Component Start */

    .display-none {
        display: none;
        transition: 300ms;
    }

    .pop-out {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(40, 39, 38, 0.5);
        backdrop-filter: blur(5px);
        transition: 300ms;
    }

    .pop-out-container {
        width: 70%;
        height: 70%;
        border-radius: 5px;
    }

    .pop-out-div {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.5);
        backdrop-filter: blur(5px) grayscale(30%);
        border-radius: 5px;
    }

    .pop-out-close-icon {
        position: fixed;
        top: 10px;
        right: 15px;
        height: 10px;
        width: 10px;
    }

    .pop-out-close-icon i {
        font-size: 1.2rem;
        color: white;
        transition: 200ms;
        cursor: pointer;
    }

    .pop-out-close-icon i:hover {
        font-size: 1.3rem;
        color: black;
    }

    .pop-out-image-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pop-out-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 60%;
        color: white;
        margin-right: 2.5rem;
    }

    .pop-out-details-title {
        font-family: 'Raleway', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        margin: 0.5rem 0 0 0;
    }

    .pop-out-details-overview {
        font-family: 'Raleway', sans-serif;
        text-align: left;
        font-size: 1.1rem;
        font-weight: 200;
        margin: 0;
    }

    .pop-out-details-tagline {
        font-family: 'Raleway', sans-serif;
        margin: 0;
        padding: 0;
        font-weight: 300;
    }

    .pop-out-buttons {
        width: 100%;
        padding: 0;
        margin: 0;
        /* border: 1px solid red; */
    }

    .pop-out-buttons button {
        font-family: 'Work Sans', sans-serif;
        width: 7rem;
        height: 2rem;
        margin-right: 1rem;
        border-radius: 5px;
        border: 1px solid #282726;
    }

    .pop-out-image-container {
        width: 40%;
    }

    .pop-out-image-container img {
        height: 90%;
        width: 85%;
        border-radius: 5px;
    }

    .pop-out-details-details {
        margin: 0;
        padding: 0;
    }

    .pop-out-details-details p {
        font-size: 1rem;
        font-family: 'Raleway', sans-serif;
        margin: 0.3rem 0;
        padding: 0;
    }

    .pop-out-details-details a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }

    .pop-out-details-details a:hover {
        text-decoration: underline;
    }

    .pop-out-details-details-div {
        display: flex;
    }

    /* Pop out Component End */


    /* Dynamic Banner Component Start */
    .dynamic-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid black; */
        width: 100%;
        height: 70vh;
    }

    .dynamic-banner div {
        color: white;
        /* border: 1px solid white; */
        border-radius: 5px;
        box-shadow: 2px 2px 20px 1px black;
        height: 90%;
        width: 70%;
    }

    .dynamic-banner div:hover {
        box-shadow: 2px 2px 20px 1px grey;
        transition: 200ms;
    }

    .dynamic-container {
        display: flex;
    }

    .dynamic-image-container {
        width: 40%;
        height: 100%;
    }

    .dynamic-image-container img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .dynamic-details {
        width: 100%;
        margin-left: 2rem;
    }

    .dynamic-details-title {
        font-family: 'Raleway', sans-serif;
        font-size: 2rem;
        margin: 0 0 0.5rem 0;
    }

    .dynamic-details-title-icons {
        display: flex;
        align-items: center;
        margin: -1rem 0 0.5rem 0;
        font-family: 'Work Sans', sans-serif;
    }

    .dynamic-details-title-icons span,
    .dynamic-details-title-icons p {
        padding-right: 0.5rem;
    }

    .dynamic-details-overview {
        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
        margin: 0 0 2rem 0;
    }

    .dynamic-details-details .details {
        width: 7rem;
    }

    .dynamic-details-details div {
        display: flex;
        height: 2rem;
        font-family: 'Raleway', sans-serif;
    }

    .dynamic-details-details a {
        text-decoration: none;
        color: white;
    }

    .dynamic-details-details a:hover {
        text-decoration: underline;
    }

    /* Dynamic Banner Component End */

    /* Footer Start */
    .footer {
        flex-direction: column;
        height: 350px;
        background-color: #e5be1a;
        color: #282726;
        width: 100%;
    }

    .footer-div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: 'Raleway', sans-serif;
        width: 70%;
        color: #282726;
    }

    .footer-thank-you {
        font-size: 3rem;
        margin-bottom: 0;
        color: #282726;
    }

    .footer-text {
        font-size: 1.2rem;
        text-align: justify;
        color: #282726;
        font-weight: 600;
    }

    .footer-icons-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .footer-icons-container i {
        font-size: 2rem;
        margin: 0 1rem;
    }

    .footer-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100%;
        font-family: 'Work Sans', sans-serif;
        background-color: #282726;
        color: #e5be1a;
    }

    .footer-footer-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
    }

    /* Footer End */
}



@media screen and (max-width: 1440px) {

    .navbar-logo a,
    .navbar-logo i {
        font-size: 1.5rem;
    }

    .navbar-links {
        font-size: 0.8rem;
    }

    .navbar-search input,
    .navbar-search button {
        height: 1.9rem;
    }

    .carousel-card {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 95%;
        height: 12rem;
        border-radius: 5px;
        color: white;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
    }

    .banner-details h2 {
        font-size: 1.5rem;
    }

    .banner-details p {
        font-size: 1rem;
    }
}