/*
font-family: 'Anton', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Antonio', sans-serif;
*/

/* @media screen and (max-width: 2560px) { */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

iframe {
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}

option,
select {
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
    padding: 0 0.4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.7);
}

select {
    color: #28272699;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    font-size: 2rem;
    padding: -10px;
    /* padding: 0; */
}

/* .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 700,
            'GRAD' -25,
            'opsz' 48
    } */


.section {
    width: 70%;
    margin: 3rem 0;
}

.section-zero-mp {
    width: 70%;
    margin: 0;
    padding: 0;
}

.rating {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.rating p {
    text-align: center;
    width: 2.5rem;
    background-color: #e5be1a;
    color: #282726;
    font-weight: 600;
    font-size: 1.3rem;
}

.bg-dark,
.navbar-bg-dark {
    background-color: #282726;
    color: white;
}

.bg-dark p {
    color: white;
}

.box-shadow {
    /* border: 3px solid #e5be1a; */
    box-shadow: -1px 10px 20px 10px lightgray;
}

/* Heading Start */
.heading {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.heading p {
    padding: 0.5rem;
}

.heading p:hover {
    background-color: #282726;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.heading-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-shadow {
    text-shadow: 2px 2px 10px #282726;
}

.box-shadow {
    box-shadow: 0px 1px 20px #28272655;
}

.heading-left-button-active {
    margin-left: 1rem;
    border: none;
    outline: none;
    background-color: #282726;
    height: 1.5rem;
    padding: 0 1rem;
    border-radius: 25px;
    font-family: 'Work Sans', sans-serif;
    color: #e5be1a;
}

.heading-left-button {
    margin-left: 1rem;
    border: none;
    outline: none;
    background-color: #e5be1a;
    height: 1.5rem;
    padding: 0 1rem;
    border-radius: 25px;
    font-family: 'Work Sans', sans-serif;
}

.heading-left-button:hover {
    background-color: #282726;
    color: #e5be1a;
    transition: 200ms;
}

.heading-div {
    display: flex;
    /* align-items: center;
    justify-content: center;
    flex-direction: row; */
}

.heading div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-left: 2px solid #282726; */
}

.heading-div-button {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    width: 10rem;
}

.heading-div-button-active {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    width: 10rem;
}

.heading-div-button:hover {
    text-decoration: underline;
    font-weight: 600;
    transition: 200ms;
}

.heading-with-navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 2rem 0;
    border-bottom: 1px solid #282726;
}

.heading-with-navigation-default,
.heading-with-navigation-active {
    margin-right: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    color: #28272699;
    cursor: pointer;
}

.heading-with-navigation-default:hover,
.heading-with-navigation-active {
    color: #282726;
    transition: 200ms;
}

/* Heading End */

/* Filter Start */
.filter-container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.filter-search,
.filter-container button {
    border: 1px solid #282726;
    border-radius: 5px;
    height: 2rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;

}

.filter-search {
    width: 30%;
    height: 1.9rem;
}

.filter-search input {
    border: none;
    outline: none;
    height: 100%;
    width: 95%;
    padding: 0;
    margin: 0 0 0 0.5rem;
    border-radius: 5px;
}

.filter-search input::placeholder {
    color: #282726;
}

.filter-submit {
    width: 7rem;
}


/* Filter End */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.banner-navbar {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.banner-navbar-menu {
    position: unset;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.banner-navbar-menu a {
    color: white;
}

.banner-navbar-menu-default {
    margin-left: 0.7rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    border-radius: 5px;
    border: 1px solid transparent;
    text-shadow: 2px 2px 10px #282726;
}

.banner-navbar-menu-active {
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    color: #282726;
    /* margin-top: 0; */
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    /* padding-top: 1.5rem; */
    border-radius: 5px;
    /* text-shadow: 2px 2px 10px #282726; */
    border: 1px solid transparent;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.banner-navbar-menu-default:hover {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2px);
    color: #282726;
    /* margin-top: 0; */
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    /* padding-top: 1.5rem; */
    border-radius: 5px;
    /* text-shadow: 2px 2px 10px #282726; */
    border: 1px solid transparent;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.banner-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    z-index: 1;
    /* border-bottom: 2px solid silver; */
}

.banner-navbar-logo {
    display: flex;
    align-items: center;
    height: 2rem;
}

.banner-navbar-logo a {
    margin-right: 0.5rem;
    font-family: 'Anton', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0;
}

.banner-navbar-logo i {
    color: white;
    font-size: 1rem;
}

.banner-navbar-search-container {
    width: 50%;
    border-radius: 5px;
}

.banner-navbar-search {
    display: flex;
    width: 100%;
}

.banner-navbar-search input {
    border-radius: 5px 0 0 5px;
    height: 2rem;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.7);
    border: none;
    outline: none;
    padding: 0 1rem;
    color: black;
    font-family: 'Work Sans', sans-serif;
    cursor: auto;
}

.banner-navbar-search button {
    border-radius: 0 5px 5px 0;
    height: 2rem;
    width: 3rem;
    background-color: rgb(255, 255, 255, 0.7);
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
}

.burger-icon {
    display: none;
}

.search-result-container {
    position: absolute;
    top: 3rem;
    width: 35%;
    max-height: 50vh;
    background-color: silver;
    border-radius: 5px;
    overflow-y: scroll;
    z-index: 10;
}

.search-result-card-container {
    max-height: 50vh;
    min-height: 100%;
}

.search-result-container::-webkit-scrollbar {
    display: none;
    width: 0;
}

.search-result-card {
    display: flex;
    padding: 0.5rem;
    margin: 0;
    border-bottom: 1px solid #28272655;
    height: 100%;
    width: 96%;
    cursor: pointer;
}

.search-result-card:hover {
    background-color: white;
    transition: 200ms;
}

.search-result-card p {
    margin: 0 1rem 0 0;
    padding: 0;
    color: #282726;
}

.result-title {
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'Work Sans', sans-serif;
}

.search-result-card i {
    color: #28272644;
    /* border: 1px solid red; */
    margin: 0.2rem 1rem 0 0;
    font-size: 0.5rem;
}

.search-result-card-container-image {
    width: 3rem;
    height: 4rem;
    padding-right: 0.7rem;
}

.search-result-card-container-image img {
    min-width: 3rem;
    height: 100%;
    border-radius: 3px;
}

.search-result-card-details {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.search-result-card-details div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.search-result-view-all {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 100%;
    font-family: 'Work', sans-serif;
    background-color: #28272688;
    border-radius: 0 0 5px 5px;
    color: silver;
}

.search-result-view-all:hover {
    background: #282726;
    color: silver;
    transition: 200ms;
}

.banner-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
    height: 95vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* background-color: rgb(0, 0, 0, 0.5); */
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg,
            #28272600 0%,
            #28272655 50%,
            #282726 100%);
}


.banner-div {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: right;
    width: 70%;
    height: 80%;
    border-bottom: 1px solid silver;
}

.banner-details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Anton', sans-serif;
    width: 100%;
    color: white;
}

.banner-details h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
    font-family: 'Work', sans-serif;

}

.banner-details p {
    font-size: 1.7rem;
    font-family: 'Work', sans-serif;
}

.banner-button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70%;
}

.banner-button button {
    height: 2.5rem;
    width: 10rem;
    margin: 1rem 0;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: silver;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.banner-button button:hover {
    background-color: white;
    color: #282726;
    transition: 200ms;
}

.banner-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    font-family: 'Work', sans-serif;
}

.carousel-section {
    border-top: 1px solid lightgrey;
    width: 100%;
}

/* .carousel-card-container {
        border-bottom: 1px solid white;
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: end;
        justify-content: space-evenly;
        background-color: white;
    } */

.carousel-card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 95%;
    height: 15rem;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}

.carousel-card h3 {
    margin-left: 1rem;
    text-shadow: 10px 2px 10px #282726;
    height: 2.5rem;
    margin-top: 0.5rem;
}

.carousel-card p {
    margin-left: 1rem;
    margin-bottom: 0;
    text-shadow: 10px 2px 10px #282726;
}

.text-white {
    color: white;
}

.recent-trailer {
    border-radius: 5px;
    height: 50vh;
    padding: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recent-trailer-div {
    display: flex;
    align-items: center;
    margin: 0 2rem;
    color: white;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px) grayscale(70%);
}

.trailer-card-container {
    height: 60%;
    width: 100%;
    padding: 1rem;
}

.trailer-card-container-img {
    border-radius: 5px;
    height: 100%;
    width: 40rem;
    position: relative;
}

/* .trailer-card-container-img:hover {
        box-shadow: 1px 10px 20px 1px rgb(0, 0, 0);
    } */

.trailer-card-container-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.trailer-card-container-title {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.trailer-card-container-title p {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    height: 2.5rem;
    font-weight: 700;
}

.trailer-card-container-img i {
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 3.5rem;
    color: white;
}

.trailer-card-container-img i:hover {
    /* top: 41%; */
    font-size: 3.8rem;
    transition: all 200ms;
}

.trending,
.recent-trailer-div,
.image-carousel-portrait {
    display: flex;
    flex-flow: row;
    border-radius: 5px;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

/* Chrome, Edge and Safari Start */
/* Firefox */
.trending,
.recent-trailer-div,
.image-carousel-portrait {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Chrome, Edge, and Safari */
.trending::-webkit-scrollbar,
.recent-trailer-div::-webkit-scrollbar,
.image-carousel-portrait::-webkit-scrollbar {
    display: none;
}

.card-container {
    height: 17rem;
    min-width: 13rem;
    margin-right: 1rem;
    max-width: 13rem;
    margin-bottom: 6rem;
}

.card-container-img {
    position: relative;
    width: 100%;
    height: 17rem;
}

.card-container-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.card-container-img img:hover {
    transform: scale(1.01);
    transition: 200ms;
    box-shadow: 1px 10px 5px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 10px 5px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 10px 5px 1px rgba(0, 0, 0, 0.5);
}

/* .card-container-title {} */

.card-container-title p {
    margin-top: 1;
    padding-top: 0;
    font-family: 'Raleway', sans-serif;
    height: 2.5rem;
    font-weight: 500;
}

.card-container-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
}

.card-container-details p {
    margin: 0.5rem 0;
}

.card-container-year {
    height: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.card-container-icons {
    display: flex;
    justify-content: space-between;
    font-family: 'Work Sans', sans-serif;
    color: #e5be1a;
}

.card-container-icons p {
    padding-right: 0.5rem;
}

.search-filter-card-container-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Card Container End  */

/* Pop out Component Start */

.display-none {
    display: none;
    transition: all 300ms;
}

.pop-out {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(40, 39, 38, 0.5);
    backdrop-filter: blur(5px);
    transition: 300ms;
}

.pop-out-container {
    width: 70%;
    height: 70%;
    border-radius: 5px;
}

.pop-out-div {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(5px) grayscale(30%);
    border-radius: 5px;
}

.pop-out-close-icon {
    position: fixed;
    top: 10px;
    right: 15px;
    height: 10px;
    width: 10px;
}

.pop-out-close-icon i {
    font-size: 1.2rem;
    color: white;
    transition: 200ms;
    cursor: pointer;
}

.pop-out-close-icon i:hover {
    font-size: 1.3rem;
    color: black;
}

.pop-out-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pop-out-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 60%;
    color: white;
    margin-right: 2.5rem;
}

.pop-out-details-title {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: 0.5rem 0 0 0;
}

.pop-out-details-overview {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 200;
    margin: 0;
}

.pop-out-details-tagline {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.pop-out-buttons {
    width: 75%;
    padding: 0;
    margin: 1rem 0;
}

.pop-out-buttons button {
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.pop-out-image-container {
    width: 40%;
}

.pop-out-image-container img {
    height: 80%;
    width: 75%;
    border-radius: 5px;
}

.pop-out-details-details {
    margin: 0;
    padding: 0;
}

.pop-out-details-details p {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    margin: 0.3rem 0;
    padding: 0;
}

.pop-out-details-details a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.pop-out-details-details a:hover {
    text-decoration: underline;
}

.pop-out-details-details-div {
    display: flex;
}

.pop-out-details-details-div p {
    font-size: 0.8rem;
    height: 1rem;
}

.pop-out-details-details-div ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    padding: 0.3rem;
    margin: 0;
}

.pop-out-details-details-div li {
    margin-right: 0.5rem;
}

.pop-out-details-details-div a {
    width: 100%;
    word-wrap: break-word;
}

/* Pop out Component End */


/* Dynamic Banner Component Start */
.dynamic-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(5px), grayscale(100%);
    width: 100%;
    height: 70vh;
}

.dynamic-banner-div {
    color: white;
    height: 90%;
    width: 70%;
}

.dynamic-container {
    display: flex;
}

.dynamic-image-container {
    width: 40%;
    height: 100%;
}

.dynamic-image-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.dynamic-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3rem;
    border: none;
    outline: none;
}

.dynamic-button-container button {
    width: 48.5%;
    background-color: silver;
    border-radius: 5px;
    height: 2rem;
    outline: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #282726;
}

.dynamic-button-container button:hover,
.dynamic-server-button-container button:hover {
    background-color: white;
    transition: 200ms;
}

.dynamic-server-button-container {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    border: none;
    outline: none;
}

.dynamic-button-container select {
    border-radius: 5px;
    height: 2rem;
    width: 49%;
    padding: 0 1rem;
}

.server-button-default {
    background-color: silver;
    color: #28272688;
    height: 2rem;
    outline: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    margin: 0 0.5rem;
    width: 7.4rem;
    border-radius: 5px;
    font-weight: 600;
}

.server-button-active {
    background-color: silver;
    color: #282726;
    height: 2rem;
    outline: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    margin: 0 0.5rem;
    width: 7.4rem;
    border-radius: 5px;
    font-weight: 600;
}

.dynamic-tv-button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10rem;
}

.dynamic-season-container,
.dynamic-episode-container {
    position: relative;
    border-radius: 5px;
    height: 2rem;
    border: 1px solid white;
    padding: 0;
    margin: 0 0 0.5rem 0;
}

.dynamic-season-container button,
.dynamic-episode-container button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 0 1rem;
    margin: 0;
}

.episode-selection-container,
.season-selection-container {
    position: absolute;
    left: -1px;
    width: 100%;
    height: 10rem;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid silver;
    background-color: silver;
    z-index: 1;
    border-radius: 5px;
    margin-top: 0.5rem;
}

.episode-selection-container::-webkit-scrollbar,
.season-selection-container::-webkit-scrollbar {
    display: none;
}

.episode-selection-container button,
.season-selection-container button {
    height: 2rem;
    width: 100%;
    border-bottom: 1px solid grey;
    /* padding: 0 1rem; */
}

.episode-selection-container button:hover,
.season-selection-container button:hover {
    background-color: white;
    color: #282726;

}

.dynamic-details {
    width: 100%;
    margin-left: 2rem;
}

.dynamic-details-title {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin: 0;
}

.dynamic-details-title-icons {
    display: flex;
    align-items: center;
    margin: -1rem 0 0 0;
    font-family: 'Work Sans', sans-serif;
}

.dynamic-details-title-icons span,
.dynamic-details-title-icons p {
    padding-right: 0.7rem;
}

.dynamic-details-overview {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    margin: 0 0 2rem 0;
    text-align: left;
    font-weight: 300;
}

.dynamic-details-details .details {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 7rem;
    height: 100%;
}

.dynamic-details-details .tags {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    line-break: 1rem;
    width: 100%;
    height: 100%;
    padding: 0;
}

.dynamic-details-details .tags li {
    list-style: none;
    margin-right: 0.5rem;
}

.dynamic-details-details div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    height: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.details p,
.tags p,
.tags a {
    padding: 0;
    margin: 0;
}

.dynamic-details-details a {
    text-decoration: none;
    color: white;
}

.dynamic-details-details a:hover {
    text-decoration: underline;
}

.dynamic-player-trailer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Dynamic Banner Component End */

/* Person Container Component Start */
.person-container {
    display: flex;
    height: 100%;
    width: 100%;
    /* border-top: 1px solid grey; */
    /* border-bottom: 1px solid grey; */
    padding: 2rem 0;
    /* margin-top: 2rem; */
}

.person-image {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 18.75rem;
    min-width: 18.75rem;
    padding-right: 2rem;
}

.person-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 82%;
}

.person-details h1 {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
}

.person-biography-header {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

.person-biography-details-default {
    font-size: 0.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    width: 100%;
    line-height: 1rem;
    height: 4.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.person-biography-details-active {
    font-size: 0.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    width: 100%;
    line-height: 1rem;
    height: 100%;
    transition: ease-in-out 200ms;
}

.biography-container {
    position: relative;
    margin-bottom: 2rem;
}

.see-more {
    position: absolute;
    bottom: -2rem;
    right: 0;
    background-color: #28272655;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
}

.see-more:hover {
    /* text-decoration: underline; */
    font-weight: 400;
}

.person-image img {
    height: 28.125rem;
    width: 18.75rem;
    border-radius: 5px;
}

.person-related-movie-carousel {
    height: 50%;
}

.related-movie-carousel {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}

.related-movie-carousel::-webkit-scrollbar {
    display: none;
}

.person-card {
    width: auto;
    height: auto;
    /* border: 1px solid white; */
}

.person-card-image {
    width: 9rem;
    height: 13rem;
    border-radius: 5px;
    margin-right: 1rem;
}

.person-card-image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.person-card-title {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
}

.person-acting-details {
    border-top: 1px solid grey;
    width: 100%;
}

.personal-icons {
    display: flex;
    justify-content: flex-start;
    margin: 2rem 0;
}

.personal-icons i {
    font-size: 1.5rem;
    padding-right: 1.5rem;
    color: white;
}

.person-personal-info {
    height: 100%;
}

.person-personal-info h3 {
    font-family: 'Raleway', sans-serif;
}

/* .personal-info {
    
} */

.personal-info-content {
    width: 100%;
}

.personal-info-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.personal-info-detail {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

/* .acting-container {
    padding: 0 1rem;
} */

.acting-container-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.acting-container-content .acting-title {
    font-weight: 400;
    width: 100%;
    position: relative;
}

.acting-container-content .acting-year {
    font-weight: 100;
}

.acting-container-content i,
.acting-container-content p {
    padding-right: 1rem;
}

.acting-container-content i {
    font-size: 0.5rem;
}

.acting-container-content:nth-child(odd) {
    background-color: rgb(36, 36, 33);
    /* border: 1px solid white; */
}

.acting-title-span {
    position: absolute;
    top: 1rem;
    left: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.acting-title a {
    color: white;
    text-decoration: none;
}

.acting-title a:hover {
    text-decoration: underline;
}

.acting-button-container {
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.acting-button-container button {
    height: 2rem;
    border: none;
    outline: none;
    background: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1rem;
}



/* Person Container Component End */

/* View All Component Start */
.view-all {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.view-all .card-container {
    margin: 0 0 2rem 0;
    width: 192px;
}

.view-all .card-container-title p {
    margin-top: 0;
}

.view-all-expanded {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-x: unset;
    margin: 0;
    padding: 0rem 0 0 0rem;
}

/* View All Component End */

/* Pagenation Component Start */
.pagenation {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;
    height: 4rem;
}

.pagenation p {
    margin: 0 0.5rem;
    font-size: 1.1rem;
    width: 1rem;
    font-family: 'Work Sans', sans-serif;
}

.pagenation p:hover {
    font-size: 1.5rem;
    transition: all 200ms;
    text-decoration: underline;
    cursor: pointer;
}

/* Pagenation Component End */

/* Image Carousel Portrait Component Start */

/* Image Carousel Portrait Component End */

/* Footer Start */
.footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    background-color: #282726;
    color: silver;
    width: 100%;
}

.footer p {
    display: flex;
    font-family: 'Work Sans', sans-serif;
    width: 100%;
}

.footer-top {
    display: flex;
}

.footer-top p {
    width: 7rem;
}

.footer-top p:hover {
    color: #e5be1a;
    cursor: pointer;
}

.footer-top i {
    margin: 0.15rem 0 0.15rem 0.3rem;
}

.footer-bottom {
    width: 100%;
    border-top: 1px solid silver;
    font-size: 1rem;
}

/* Footer End */

/* Youtube Component Start */
.youtube-component {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.99);
    backdrop-filter: blur(5px) grayscale(100%);

}

.trailer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.youtube-player {
    width: 70%;
    height: 70%;
}

/* Youtube Component End */
/* } */

@media screen and (max-width: 1440px) {

    .navbar-logo a,
    .navbar-logo i {
        font-size: 1.5rem;
    }

    .navbar-links {
        font-size: 0.8rem;
    }

    .navbar-search input,
    .navbar-search button {
        height: 1.9rem;
    }

    .carousel-card {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 95%;
        height: 12rem;
        border-radius: 5px;
        color: white;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
    }

    .banner-details h2 {
        font-size: 1.5rem;
    }

    .banner-details p {
        font-size: 1rem;
    }

    .section-zero-mp,
    .section {
        width: 90%;
    }

    .navbar,
    .banner-div,
    .banner-carousel {
        width: 90%;
    }

    .banner-navbar-search-container {
        width: 50%;
        position: relative;
    }

    .search-result-container {
        top: 3rem;
        /* left: 18.8%; */
        width: 100%;
    }

    .banner-button {
        width: 90%;
    }

    .recent-trailer {
        padding: 0 0 0 0;
    }

    .recent-trailer-div {
        height: 100%;
    }

    .card-container {
        height: 18rem;
    }

    .trailer-card-container-img {
        width: 25rem;
        height: 100%;
    }

    .person-details {
        width: 74%;
    }

}

@media screen and (max-width: 1024px) {

    .section-zero-mp {
        width: 90%;
    }

    .heading {
        height: 3rem;
    }

    .navbar {
        display: none;
    }

    .navbar-bg-dark {
        background-color: transparent;
    }

    .search-result-container {
        top: 3rem;
        /* left: 19.8%; */
        width: 100%;
    }

    .banner-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3rem;
        width: 100%;
    }

    .banner-navbar-logo {
        display: flex;
        align-items: center;
        height: 2rem;
    }

    .banner-navbar-logo a {
        margin-right: 0.5rem;
        font-family: 'Anton', sans-serif;
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 0;
    }

    .banner-navbar-logo i {
        color: white;
        font-size: 1rem;
    }

    .banner-navbar-search-container {
        width: 40%;
    }

    .banner-navbar-search {
        display: flex;
        width: 100%;
    }

    .banner-navbar-search input {
        border-radius: 0px 0 0 0px;
        height: 2rem;
        width: 100%;
        background-color: rgb(255, 255, 255, 0.7);
        border: none;
        outline: none;
        padding: 0 1rem;
        color: black;
        font-family: 'Work Sans', sans-serif;
        cursor: auto;
    }

    .banner-navbar-search button {
        border-radius: 0 5px 5px 0;
        height: 2rem;
        width: 3rem;
        background-color: rgb(255, 255, 255, 0.7);
        color: black;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .banner-container {
        height: 100vh;
    }

    .dynamic-banner-div {
        width: 90%;
    }

    .carousel-card-container {
        height: 12rem;
    }

    .carousel-card {
        height: 11rem;
    }

    .react-multi-carousel-track li {
        width: 303px;
    }

    .pop-out-container {
        width: 90%;
    }

    .pop-out-image-container img {
        height: 65%;
    }

    .youtube-player {
        width: 90%;
    }

    .recent-trailer-div {
        height: 100%;
        width: 100%;
        margin: -2.5rem;
    }

    .trailer-card-container-img {
        width: 25rem;
    }

    .recent-trailer-div::-webkit-scrollbar {
        display: none;
    }

    .image-carousel-portrait {
        overflow-y: hidden;
    }

    .image-carousel-portrait::-webkit-scrollbar {
        display: none
    }

    .person-details {
        width: 63%;
    }
}

@media screen and (max-width: 768px) {

    iframe {
        border-radius: 5px;
        border: none;
        outline: none;
        width: 100%;
        height: 95%;
    }

    .section-zero-mp {
        width: 90%;
    }

    .off-canvas-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background-color: #282726d0;
        backdrop-filter: blur(5px);
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        z-index: 1;
    }

    .off-canvas-menu p:hover {
        text-decoration: underline;
        transition: 200ms;
    }

    .off-canvas-menu i {
        position: absolute;
        top: 0.9rem;
        right: 2.2rem;
        color: white;
    }

    .off-canvas-menu a {
        color: white;
    }

    .off-canvas-menu a:hover {
        text-decoration: underline;
        transition: 200ms;
    }

    .heading {
        height: 2.5rem;
    }

    .heading p {
        padding: 0.5rem;
        margin: 0;
    }

    .banner-div {
        height: 100%;
    }

    .banner-navbar-menu {
        display: none;
    }

    /* .banner-navbar-search-container {
        display: none;
    } */

    .burger-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: white;
    }

    .burger-icon button {
        margin-right: 2rem;
        border-radius: 5px;
        padding: 0.3rem;
        width: 7rem;
        height: 2rem;
        outline: none;
        border: none;
        color: #28272699;
        background-color: rgba(255, 255, 255, 0.700);
        font-family: 'Work Sans', 'sans-serif';
    }

    .burger-icon button:hover {
        background-color: rgba(255, 255, 255, 1);
        color: #282726;
        transition: 200ms;
        cursor: pointer;
    }

    .banner-navbar-search-container {
        width: 70%;
    }

    .dynamic-banner {
        height: 60vh;
    }

    .recent-trailer-div {
        padding: 0 0 0 1rem;
        margin: unset;
    }

    .search-result-container {
        /* left: %; */
        width: 100%;
    }

    .card-container {
        min-width: 10rem;
        max-width: 10rem;
        height: 15rem;
    }

    .card-container-img {
        height: 14rem;
    }

    .carousel-card {
        width: 95%;
        height: 11rem;
    }

    .pop-out-container {
        width: 95%;
    }

    .youtube-player {
        width: 90%;
        height: 55%;
    }

    .footer-footer {
        width: 100%;
    }

    .footer-footer-details {
        width: 90%;
    }

    .person-container {
        flex-direction: column;
    }

    .person-image,
    .person-details {
        width: 100%;
    }

    .person-image {
        flex-direction: row;
    }

    .person-image img {
        margin-right: 1rem;
    }

    .person-personal-info {
        height: 100%;
        width: 100%;
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .person-details {
        margin-top: 2rem;
    }

    .person-acting-details {
        margin-top: 2rem;
    }

}

@media screen and (max-width: 576px) {

    .section {
        width: 95%;
        margin: 1rem 0;
    }

    .navbar,
    .banner-div,
    .banner-carousel {
        width: 95%;
    }

    .off-canvas-menu {
        width: 70%;
    }

    .banner-button {
        width: 95%;
    }

    .banner-button button {
        height: 2rem;
        width: 8rem;
        color: #282726;
    }

    .banner-container {
        height: 100vh;
    }

    .search-result-container {
        top: 3rem;
        /* left: %; */
        width: 100%;
    }

    .card-container {
        height: 15rem;
    }

    .card-container-details {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;
    }

    .card-container-title p {
        margin-top: 0;
        padding-top: 0;
        font-family: 'Work Sans', sans-serif;
        height: 2.5rem;
        font-weight: 200;
    }

    .recent-trailer {
        height: 35vh;
    }

    .recent-trailer-div {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0 0 0 1rem;
    }

    .trailer-card-container {
        height: 75%;
    }

    .trailer-card-container-img {
        width: 20rem;
    }

    .trailer-card-container-img i {
        top: 37%;
        font-size: 2.5rem;
    }

    .trailer-card-container-img i:hover {
        top: 36%;
        font-size: 2.7rem;
    }

    .carousel-card-container {
        height: 12rem;
    }

    .banner-navbar-search-container {
        width: 70%;
    }

    .dynamic-banner {
        height: 50vh;

    }

    .dynamic-container {
        flex-direction: column;
    }

    .dynamic-image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2rem;
    }

    .dynamic-image-container img {
        width: 70%;
        height: auto;
        border-radius: 5px;
    }

    .dynamic-button-container {
        width: 70%;
    }

    .dynamic-details {
        margin: 0;
    }

    .dynamic-details-details div {
        height: auto;
    }

    .dynamic-details-details .details {
        width: 10rem;
    }

    .image-carousel-portrait {
        padding: 2rem 0;
    }

    .dynamic-tv-button-container {
        width: 70%;
        margin-top: 0.5rem;
    }

    .pop-out-div {
        overflow-y: auto;
    }

    .pop-out-image-container {
        width: 100%;
    }

    .pop-out-image-container img {
        height: 70%;
        width: 50%;
    }

    .pop-out-details-title {
        font-size: 1.5rem;
        padding: 1rem 0;
        width: 100%;
        border-top: 1px solid silver;
    }

    .pop-out-details-overview {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .pop-out-details {
        margin: 0 0 0 1rem;
        width: 95%;
    }

    .pop-out-buttons {
        width: 50%;
        margin: 1rem 0;
    }

    .pop-out-container {
        width: 95%;
        height: 95%;
    }

    .pop-out-div {
        flex-direction: column;
    }

    .pop-out-details-details-div p,
    .pop-out-details-details-div ul {
        font-size: 1rem;
    }

    .pop-out-details-details-div:last-of-type {
        margin-bottom: 3rem;
    }

    .footer-bottom p {
        font-size: 0.8rem;
    }

    .view-all-expanded {
        padding: 2rem 0;
    }

    .person-image {
        padding-right: unset;
    }
}

@media screen and (max-width: 425px) {

    iframe {
        height: 95%;
    }

    .off-canvas-menu {
        width: 100%;
    }

    .popular,
    .similar {
        padding-top: 2rem;
        padding-bottom: 0;
    }

    .heading-left h3 {
        font-size: 1rem;
    }

    .heading p {
        font-size: 0.8rem;
    }

    .banner-navbar-logo {
        display: none;
    }

    .banner-navbar-search-container {
        width: 90%;
    }

    .banner-details h2 {
        font-size: 1rem;
    }

    .banner-details p {
        font-size: 0.8rem;
    }

    .search-result-container {
        top: 3rem;
        left: unset;
        width: 100%;
    }

    .card-container {
        min-width: 8em;
        height: 10rem;
    }

    .card-container-img {
        height: 12rem;
    }

    .trailer-card-container {
        height: 80%;
        padding: 0.5rem;
    }

    .recent-trailer {
        height: 30vh;
    }

    .recent-trailer-div {
        width: 100%;
        height: 100%;
    }

    .card-container-title p {
        font-weight: 300;
        font-size: 0.8rem;
    }

    .card-container-year {
        display: none;
    }

    .pop-out-div {
        overflow-y: scroll;
    }

    .pop-out-image-container {
        display: flex;
        flex-direction: column;
        height: 90%;
        width: auto;
    }

    .pop-out-image-container img {
        height: 75%;
        width: 90%;
        border-radius: 5px;
    }

    .pop-out-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }

    .pop-out-buttons button {
        font-family: 'Work Sans', sans-serif;
        width: 100%;
        height: 2rem;
        margin-right: 0rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

    .pop-out-buttons a {
        width: 100%;
    }

    .pop-out-details-title {
        font-size: 1rem;
    }

    .pop-out-details-overview {
        font-size: 0.8rem;
        text-align: justify;
        padding: 1rem 1rem 1.5rem 0;
    }

    .pop-out-details-details-div {
        height: 2rem;
    }

    .pop-out-details-details-div p {
        font-size: 0.8rem;
        height: 1rem;
    }

    .pop-out-details-details-div ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        font-family: 'Raleway', sans-serif;
        font-size: 0.8rem;
        padding: 0.3rem;
        margin: 0;
    }

    .pop-out-details-details-div li {
        margin-right: 0.5rem;
    }

    .pop-out-details-details-div a {
        width: 100%;
        word-wrap: break-word;
    }

    .server-button-active,
    .server-button-default {
        width: 5.2rem;
    }

    .dynamic-banner {
        height: 40vh;
        flex-direction: column;
    }

    /* .dynamic-banner div {
        height: 80%;
    } */

    .dynamic-details-title-icons {
        margin: 0;
    }

    .dynamic-details-title-icons i {
        font-size: 0.8rem;
    }

    .dynamic-details-title {
        font-size: 1rem;
    }

    .dynamic-details-overview {
        font-size: 0.8rem;
    }

    .details,
    .tags {
        font-size: 0.8rem;
    }

    .dynamic-image-container {
        width: 100%;
        width: 100%;
    }

    .dynamic-details-details .details {
        width: 7rem;
    }

    .view-all-expanded {
        justify-content: space-evenly;
        padding: 2rem 0;
    }

    .view-all-expanded .card-container {
        width: 8rem;
        height: 12rem;
    }

    .footer-top p {
        width: 6rem;
        font-size: 0.8rem;
    }

    .person-image {
        flex-direction: column;
        align-items: center;
    }

    .heading-div-button,
    .heading-div-button-active,
    .heading-div-button:hover {
        width: 7rem;
    }
}

@media screen and (max-width: 375px) {

    iframe {
        height: 95%;
    }

    .section {
        margin: 1rem 0;
    }

    .off-canvas-menu {
        width: 100%;
    }

    .dynamic-navbar-logo a {
        font-size: 1rem;
    }

    .dynamic-banner {
        height: 35vh;
    }

    .dynamic-server-button-container {
        overflow-x: auto;
    }

    .server-button-active,
    .server-button-default {
        width: 4.5rem;
    }

    .view-all-expanded {
        justify-content: space-between;
    }

    .view-all-expanded .card-container {
        margin-right: 0;
    }

    .card-container {
        height: 13rem;
    }

    .recent-trailer {
        height: 35vh;
    }

    .recent-trailer-div {
        width: 100%;
        height: 100%;
        padding: 0 0 0 1rem;
    }

    .trailer-card-container {
        height: 70%;
    }

    .trailer-card-container-img {
        width: 17rem;
    }

    .footer-top {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-top p {
        width: 50%;
    }

    .heading-div-button-active,
    .heading-div-button {
        width: 7rem;
        /* font-size: 0.8rem; */
    }
}

@media screen and (max-width: 320px) {

    .off-canvas-menu {
        width: 100%;
    }

    .server-button-active,
    .server-button-default {
        width: 4rem;
    }

    .dynamic-banner {
        height: 30vh;
    }

    .dynamic-button-container select {
        padding: 0.5rem;
    }

    .recent-trailer {
        height: 25vh;
        padding: 0;
    }

    .recent-trailer-div {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .trailer-card-container {
        height: 80%;
        width: 100%;
    }

    .trailer-card-container-img {
        width: 15rem;
        height: 10rem;
    }

    .trailer-card-container-img i {
        font-size: 2rem;
    }

    .heading-div-button-active,
    .heading-div-button {
        width: 6rem;
        font-size: 0.8rem;
    }

    .person-image {
        width: 100%;
        min-width: unset;
    }

    .person-image img {
        margin-right: unset;
        width: 16.75rem;
        height: 26.125rem;
    }

    .person-personal-info {
        width: 95%;
    }

}